.articles {
    margin-top: 170px;
    margin-bottom: 00px;
}

.card-articles{
    border-radius: 30px;
    background: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    /* top in card botton*/
    padding: 30px;
    cursor: pointer;
}

.card-articles:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-articles{
    border: none !important;
    /* margin-left: 45px;
    margin-right: 45px; */
    justify-content: space-between !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none !important;
    color: #6B6B6B !important;
}

.card-projects {
    background: #f1f1f1 !important;
    box-shadow: 0 4px 8px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05) !important;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    /* box-shadow: 0 4px 8px 0 rgba(78, 78, 78, 0.2) !important; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-projects:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06) !important;
}

.text-projects {
    margin-left: 80px; /* Espaço à esquerda da imagem */
    text-decoration-color: #757575;
}

.button-projects {
    color: #ECECEC;
    border: none !important;
    padding-right: 15px;
    font-family: verdana;

}

.card-title h5 {
    text-decoration-color: #535353;
}

.card-text p {
    text-decoration-color: #757575;
}

.card-link {
    text-decoration-color: #6b6b6b;
}

.blog-box {
    border: none;
    padding-bottom: 100px;
}

.blog-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin-top: 130px;
    z-index: 10;
    padding-bottom: 50px;
    text-align: center;
    /* border-bottom: 1px solid var(--color-background-contrast) */
}

.navbar-brand {
    margin-top: 24px;
    margin-left: 40px;
    /* padding: 50px; */
}

.navbar-nav {
    margin-top: 24px;
    font-size: 18px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

ul .navbar-nav{
    align-items: end;
}

.nav-item{
    padding-right: 15px;
}

.nav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 400;
    transition: all ease-out 0.3s
}

.rede-jobs{
    margin-top: 24px;
    margin-right: 40px;
    padding-right: 15px;
    justify-content: center;

}

@media only screen and (max-width: 640px) {
    .nav-header {
        transform:translate3d(0, -100%, 0)
    }
}

.menu-active .nav-header {
    transform: translate3d(0, 0, 0)
}

.frame {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto
}

header {
    position: relative;
    font-size: 100%;
    background: #ECECEC;
    /* altura do header */
    min-height: 80vh;
    padding: 0 2rem 8rem;
    color: #000;
    display: flex;
    flex-direction: column
}

.contacts {
    margin-top: 200px;
}

.header-contact {
    /* position: relative; */
    font-size: 100%;
    background: #ECECEC;
    text-align: center;
    /* altura do header */
    min-height: 240px;
    padding: 2rem;
    /* color: #000; */
    /* display: flex; */
    flex-direction: row

}

.text-contact {
    color: #6B6B6B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    padding-top: 40px;
}

button {
    border: none !important;
}

.header-contact button{
    margin-top: 50px;
}

@media only screen and (max-width: 640px) {
    .nav-header .logo {
        display:none
    }
}

.headerContent {
    display: flex;
    font-family: 'Lucida Grande', Geneva, Verdana, sans-serif;
    flex-direction: column;
    /* margin-top: 160px; */
    padding-top: 4rem;
    flex: 1
}

@media screen and (min-width: 720px) {
    .HeaderContent {
        padding:0 4rem;
        justify-content: center
    }
}

.HeaderContent a {
    color: #ECECEC;
    text-decoration: none
}

.HeaderContent .HeaderContent-externalLink {
    color: rgba(255,255,255,.6)
}

.HeaderContent-description {
    color: #2a2a2a;
    font-size: 130%;
    margin-top: 3.5rem;
    line-height: 1.4em
}

.jobs {
    background: #6b6b6b; 
    width: 564px;
    height: 200px;
    font-family: 'Lucida Sans', Verdana, Geneva, Tahoma, sans-serif;
}

.header-footnote{
    background: #6b6b6b; 
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    height: 50px;
    width: 100%;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-center {
    text-align: center
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(247 247 247 / var(--tw-text-opacity))
}

.font-serif {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.font-medium {
    font-weight: 500;
}

.font-light {
    font-weight: 300;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.pl-2 {
    padding-left: .5rem;
}

.md\:flex-row {
    flex-direction: row;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

/* .flex-col {
    flex-direction: column
} */

.cursor-pointer {
    cursor: pointer;
}

button,[role=button] {
    cursor: pointer;
}

/* .hidden {
    display: none
} */

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}
.pro {
    animation-name: pro-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block
}

/* Efeito de tchauzinho e maça*/
.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block
}

@keyframes wave-animation {
    0% {
        transform: rotate( 0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate( 0.0deg)
    }

    100% {
        transform: rotate( 0.0deg)
    }
}

.pro {
    animation-name: pro-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block
}
